[flake8]
# Set a more reasonable max line length (default is a very strict 79)
max-line-length = 119

# List of directories to completely ignore
exclude =
    .git,
    __pycache__,
    .venv,
    instance,
    migrations/versions/

# List of specific error/warning codes to ignore.
# W503: line break before binary operator (less common now)
# E203: whitespace before ':' (often clashes with auto-formatters like Black)
# W291: trailing whitespace
# W292: no newline at end of file
# E302: expected 2 blank lines, found 1
extend-ignore = E203, W291, W292, E302, W503