# .gitignore

# Byte-compiled / optimized / C extensions
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Local instance folder
instance/
*.db
*.sqlite3

# Terraform files
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars

# IDE / OS files
.vscode/
.idea/
.DS_Store

# Local environment file
.env